absl-py==2.0.0
addict==2.4.0
appdirs==1.4.4
basicsr==1.4.2
Brotli==1.0.9
cachetools==5.3.2
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==2.0.4
click==8.1.7
contextlib2==21.6.0
contourpy==1.2.0
cryptography==41.0.7
cycler==0.12.1
docker-pycreds==0.4.0
facexlib==0.3.0
filelock==3.13.1
filterpy==1.4.5
fonttools==4.46.0
fsspec==2023.12.2
future==0.18.3
gfpgan==1.3.8
gitdb==4.0.11
GitPython==3.1.40
gmpy2==2.1.2
google-auth==2.25.2
google-auth-oauthlib==1.1.0
grpcio==1.60.0
huggingface-hub==0.19.4
idna==3.4
imageio==2.33.1
importlib-metadata==7.0.0
importlib-resources==6.1.1
Jinja2==3.1.2
joblib==1.3.2
kiwisolver==1.4.5
lazy_loader==0.3
llvmlite==0.41.1
lmdb==1.4.1
Markdown==3.5.1
MarkupSafe==2.1.1
matplotlib==3.8.2
mkl-fft==1.3.8
mkl-random==1.2.4
mkl-service==2.4.0
ml-collections==0.1.1
mpmath==1.3.0
networkx==3.1
numba==0.58.1
numpy==1.26.2
oauthlib==3.2.2
opencv-python==4.8.1.78
packaging==23.2
pandas==2.1.4
Pillow==10.0.1
pip==23.3.1
platformdirs==4.1.0
protobuf==4.23.4
psutil==5.9.6
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
pyOpenSSL==23.2.0
pyparsing==3.1.1
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
safetensors==0.4.1
scikit-image==0.22.0
scikit-learn==1.3.2
scipy==1.11.4
seaborn==0.13.0
sentry-sdk==1.38.0
setproctitle==1.3.3
setuptools==68.0.0
six==1.16.0
smmap==5.0.1
sympy==1.12
tb-nightly==2.16.0a20231228
tensorboard==2.15.1
tensorboard-data-server==0.7.2
tf_keras-nightly==2.16.0.dev2023122810
threadpoolctl==3.2.0
tifffile==2023.12.9
timm==0.9.12
tomli==2.0.1
torch==2.1.1
torchaudio==2.1.1
torchvision==0.16.1
tqdm==4.66.1
triton==2.1.0
typing_extensions==4.7.1
tzdata==2023.3
urllib3==1.26.18
wandb==0.16.1
Werkzeug==3.0.1
wheel==0.41.2
yacs==0.1.8
yapf==0.40.2
zipp==3.17.0
